.filterSec button {
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: normal;
}

.applyBtn {
    border: 1px solid #171916;
    border-radius: 15px;
    background: #fff;
    color: #171916;
}

.addSection {
    background: #FFF3DF;
    box-shadow: 3px 3px 6px #0000001A;
    color: #282A27 !important;
    margin-bottom: 20px;
}

.addSection .addText {
    font-size: 13px;
    color: #282A27 !important;
    font-weight: normal;
}

.chartBoxMain{
    border: 1px solid #CFCFCF;
    border-radius: 8px;
    padding: 20px;
    background: #fff;
}
.titleTextChart{
    color: #171916;
    font-size: 14px;
    font-weight: 600;
}
.contentSecdasboard{
    background: #EFEFEF;
    overflow-x: hidden;
}
.bottomTitle{
    color: #171916;
    font-size: 11px;
    font-weight: normal;
}